<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <div class="mb-4">
        <%= form.label :name, "Nombre", style: "display: block", class: "fw-600 mb-2" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-4">
        <%= form.label :customer_id, "Cliente", style: "display: block", class: "fw-600 mb-2" %>
        <!-- FORMA MEJORADA QUE DEBE USARSE A PARTIR DE AHORA -->
        <%= form.select :customer_id, options_for_select([["Disponible", nil]] + Customer.all.collect {|u| [u.name, u.id]}), {}, { class: "form-select" } %>
      </div>
      
      <% if @moviegatekeep%>
      <div class="mb-4">
        <%= form.label :picture, "Portada de la película (URL)", style: "display: block", class: "fw-600 mb-2" %>
        <%= form.text_field :picture, value: @picture_a, class: "form-control"%>
      </div>
      <%else%>
      <div class="mb-4">
        <%= form.label :picture, "Portada de la película (URL)", style: "display: block", class: "fw-600 mb-2" %>
        <%= form.text_field :picture, value: "https://www.mockofun.com/wp-content/uploads/2019/10/movie-poster-credits-178.jpg", class: "form-control"%>
      </div>
      <%end%>
      <div class="d-flex justify-content-center">
        <%= form.submit "Publicar", class: "yellowbtn btn btn-ligh w-100 mt-4 fs-5 fw-600 py-2" %>
      </div>
    </div>
  </div>
<% end %>