<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Movies</h1>
  <%= link_to "New movie", new_movie_path %>
  <div id="movies">
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-4 py-2">
          <div class="card">
            <div class="card-body">
              <%= image_tag movie.picture, class: "w-100" %>
              <h5 class="card-title"><%= movie.name %></h5>
              <% if movie.client %>
                <p><span class="fw-bold">Arrendada por: </span><%= movie.client.name %></p>
              <% else %>
                <p>Disponible</p>
              <% end %>
              <%= link_to "Ver detalles", movie, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>