<p style="color: green"><%= notice %></p>

  <div class="fs-3 mb-4 btn yellowbtn py-2"><i class="fa-solid fa-circle-plus text-white"></i><%= link_to "Nueva Película", new_movie_path, class:"fw-500 ms-2 text-decoration-none text-white" %></div>

<%= form_with url: movies_path, method: :get do |form|%>
  <%= form.text_field :query_text, placeholder: "Buscar películas", value: params[:query_text], class: "form-control custom-search mb-3 mysearch"%>
<%end%>
<div class="d-flex align-items-center justify-content-center w-100 py-3">
  <%==raw pagy_bootstrap_nav(@pagy) %>
</div>
<div id="movies">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-4">
        <div class="card mb-4">
          <div class="card-body">
            <%= image_tag movie.picture, class: "w-100" %>
            <h5 class="card-title text-center fs-4 mt-3"><%= movie.name %></h5>
            <hr>
            <% if movie.client %>
              <p class="text-center m-0 fs-5"><span class="fw-500">Arrendada por:</span> <%= link_to movie.client.name, client_path(movie.client) %></p>
            <% else %>
              <p class="text-center m-0 fs-5"><span class="fw-500">Estado:</span> <span class="able">Disponible</span></p>
            <% end %>
            <%= link_to "Ver detalles", movie, class: "yellowbtn btn btn-light mt-3 w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex align-items-center justify-content-center w-100 py-3">
    <%==raw pagy_bootstrap_nav(@pagy) %>
  </div>
</div>