<div id="<%= dom_id client %>">
  <tr>
    <th scope="row"><%= client.id %></th>
    <td><%= client.name %></td>
    <td><%= client.age %></td>
    
    <% if @counter != 1 %>
      <% if client.movies.present? %>
        <td><%= link_to client.movies.last.name, movie_path(client.movies.last) %></td>
      <% else %>
        <td><span class="disablee">No arrienda</span></td>
      <% end %>
        <td><%= link_to "Ver cliente", client %></td>
    <%else%>
      <% if client.movies.last %>
        <td><%= link_to client.movies.last.name, movie_path(client.movies.last) %></td> <!--WHY THO-->
      <% else %>
        <td><span class="disablee">No arrienda</span></td>
      <% end %>
    <%end%>
    <td><%= link_to "Editar", edit_client_path(client) %></td>
    <td class="text-center">
      <%= button_to client_path(client), method: :delete, class: "btn yellowbtn btn-light", data: { bs_toggle: "tooltip", bs_placement: "right", bs_title: "Si elimina el cliente, las películas serán desvinculadas de forma automática" } do %>
        Eliminar cliente
      <% end %>
    </td>
  </tr>
</div>

