<div id="<%= dom_id client %>">
  <tr>
    <th scope="row"><%= client.id %></th>
    <td><%= client.name %></td>
    <td><%= client.age %></td>
    
    <% if @counter != 1 %>
      <% if client.movies.present? %>
        <td><%= link_to client.movies.last.name, movie_path(client.movies.last) %></td>
      <% else %>
        <td>No arrienda</td>
      <% end %>
        <td><%= link_to "Show this client", client %></td>
    <%else%>
      <% if client.movies.last %>
        <td><%= link_to client.movies.last, movie_path(client.movies.last) %></td>
      <% else %>
        <td>No arrienda</td>
      <% end %>
    <%end%>
    <td><%= link_to "Edit this client", edit_client_path(client) %></td>
    <td><%= button_to "Destroy this client", client, method: :delete %></td>
  </tr>
</div>

