<p style="color: green"><%= notice %></p>

<h1>Clients</h1>
<div id="clients">
  <%= form_with url: clients_path, method: :get do |form|%>
  <%= form.text_field :query_text, placeholder: "Buscar clientes", value: params[:query_text], class: "form-control custom-search"%>
<%end%>
<%==raw pagy_bootstrap_nav(@pagy) %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Película arrendada</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>

        <%= render @clients %>

    </tbody>
  </table>
</div>
<%= link_to "New client", new_client_path %>
