<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <div class="mb-4">
        <%= form.label :name, "Nombre", style: "display: block", class: "fw-600 mb-2" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-4">
        <%= form.label :age, "Edad", style: "display: block", class: "fw-600 mb-2" %>
        <%= form.number_field :age, class: "form-control", max: 130 %>
      </div>
      <div class="text-center">
        <%= form.submit "Publicar", class: "yellowbtn btn btn-ligh w-100 mt-4 fs-5 fw-600 py-2" %>
      </div>
    </div>
  </div>
<% end %>
