<!DOCTYPE html>
<html>
  <head>
    <title>Películas-Blockbuster</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <div class="w-100 d-flex justify-content-center py-4 container-fluid mybanner">
      <%= link_to root_path, class: "d-flex justify-content-center" do %>
      <%= image_tag "logo.png", class: "custom-pic" %>
      <% end %>
    </div>

      <nav class="navbar navbar-expand-lg mynav py-0">
        <div class="container-fluid py-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav fs-3 fw-700" data-controller="headertoggler">
              <li class="nav-item" data-action="click->headertoggler#changeColor">
                <span data-headertoggler-target="text"><%= link_to "Películas", movies_path, class: "nav-link text-white py-3 px-5 #{'myactive' if current_page?(movies_path)}" %></span>
              </li>
              <li class="nav-item" data-action="click->headertoggler#changeColor">
                <span data-headertoggler-target="text"><%= link_to "Clientes", clients_path, class: "nav-link text-white py-3 px-5 #{'myactive' if current_page?(clients_path)}" %></span>
              </li>
              <!-- <li class="nav-item me-4">
                <%= link_to "GitHub", "https://github.com/kotoykm", class: "nav-link " %>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    <div class="container-fluid py-3">
      <div class="container"><%= yield %></div>
    </div>

    
    <%= javascript_include_tag "tooltipinit.js" %>
    <%= javascript_include_tag "app.js" %> 
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
